/* Geral */
.material-icons.white {
  color: #fff;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.link-navegacao {
  color: white !important;
}

.botao-padrao {
  font-weight: bold !important;
}

/* Usuario */
.container-usuario {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.mensagem-erro {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(134, 19, 19, 0.9);
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  height: fit-content;
  color: white;
  font-weight: bold;
}
